@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  color: #777;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgb(255, 255, 255, .2);
}

.main-header {
  background-color: rgb(0, 0, 0, .9);
  background-image: url("images/jblenz\ name\ copy.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.play-btn:hover {
  background-color: rgb(255, 255, 255, .8);
  cursor: pointer;
}

.home-title {
  text-align: center;
  margin: 0;
  font-size: 4em;
}

body {
    background: rgb(31, 31, 85);
  } 

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.about-image {
  float: left;
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.section-title {
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

.contact-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #ffffff10;
  background-color: rgba(26, 26, 26, .9);
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #777;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font: 24px;
  border-radius: 8px;
  margin-top: 10px;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success{
    color: rgb(0, 202, 0);
    animation: status 4s ease forwards;
}

#status.error{
  color: rgb(202, 0, 0);
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.main-footer {
  background-color: rgba(26, 26, 26, .9);
}

.footer-nav li {
  padding: 0 9em;
}

.footer-nav img {
  width: 50px;
  height: 50px;
}